* {
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 0;
  }
  
  header {
    padding: 10px;
    text-align: center;
    background: #b0c4de;
    color: #fff;
  }

  #headshot {
    float: left;
  }
  
   nav {
    display: flex;
    background-color: #fff;
  }
  
  nav a {
    color: #191970;
    padding: 50px 30px;
    text-decoration: azure;
    text-align: center;
  }
  
  main {
    display: flex;
    flex-wrap: wrap;
  }
  
  aside {
    flex: 0;
    background-color: #b9c6ae;
    padding: 80px;
    text-align: left;
  }
  
  footer {
    padding: 20px;
    text-align: center;
    background: #13293d;
    color: #fff;
  }
  
   .links {
    flex: 4;
    background-color: #fff;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .card {
    border-style: solid;
    border-width: 1px;
    border-radius: 10px;
    padding: 10px;
    flex: 0 0 400px;
  }
  
  .card header {
    padding: 20px;
  }
  
  .card p {
    text-align: center;
  }
  
  .card img {
    width: 100%;
  }
  
  @media screen and (max-width: 768px) {
    main,
    nav {
      flex-direction: column;
    }
  }